<h1>404: Page not Found!</h1>

{{#if showNote}}
  <h3>{{note}}</h3>
{{/if}}

<p>Checkout the following pages instead</p>
<ul>
  <li><a href="products/">Products</a></li>
  <li><a href="articles/">Articles</a></li>
</ul>
