<h1>{{greetings}}</h1>

<ul>
    {{#each collection}}
      <li>{{this}}</li>
    {{/each}}
</ul>

{{#if showContent}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur labore quos doloremque temporibus obcaecati, minima unde nemo iure porro quis laboriosam natus illum assumenda! Hic, excepturi impedit! Molestiae, beatae?</p>
{{/if}}

{{> footer}}