<h1>Article list</h1>
  <!--
  <form action='/products/new' method='GET'>
    <input type='submit' value='add new item'>
  </form>
  <br>
  <br>
  -->
  <div class="products">
  {{#each collection}}
    <div>
      <font size="5"></font>{{title}}</font>
    </div>
  {{/each}}
  </div>
</div>