<h1>Article list</h1>
<form action='/articles/new' method='GET'>
  <input type='submit' value='add new article'>
</form>
<br>
<br>
<div class="articles">
  {{#each collection}}
    <div>
      <a href="/articles/{{urltitle}}"><font size="5">{{title}}</font></a>
    </div>
  {{/each}}
 </div>
