<h1>New Product</h1>
<form action='/articles' method='POST'>
    <label for='title'>Title: </label>
    <input name='title' type='text' required>
    <label for='author'>Author: </label>
    <input name='author' type='text' required>
    <br><br>
    <textarea name='body' rows="10" cols="60" required>Write some content</textarea>
    <br><br>
    <input type='submit' value='Submit'>
</form>