<div class="products-parent">
  {{#each collection}}
  <div class="products">
    <h2>{{name}}</h2>
    <div>Id: {{id}}</div>
    <div>Price: {{price}}</div>
    <div>Inventory: {{inventory}}</div>
  </div>
  {{/each}}
</div>