<h1>New Product</h1>
<form action='/products' method='POST'>
    <label for='name'>Name:</label>
    <input id='name' type='text'>
    <label for='price'>Price:</label>
    <input id='price' type='text'>
    <label for='inventory'>Inventory:</label>
    <input id='inventory' type='text'>
    <input type='submit' value='Submit'>
</form>