<h1>New Product</h1>
<form action="">
    <label for="name">Name:</label>
    <input id="name" type="text">
    <label for="price">Price:</label>
    <input id="price" type="text">
    <label for="inventory">Inventory:</label>
    <input id="inventory" type="text">
</form>

<!-- A button that triggers the POST-->
{{!-- <button id="add_shopping_list_item_button" onclick="add_to_shopping_list()">Add to Shopping List</button> --}}